# IDE / OS
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db

# Java / Maven
**/target/
**/.mvn/wrapper/maven-wrapper.jar

# Angular
**/node_modules/
**/dist/
.angular/

# Local secrets/config
**/application-local.properties
**/.env
**/.env.*
!**/.env.example

# Logs
*.log
